<!--Page specific Style-->
<style>
a{
  font-family: 'ChopinScript';
  font-size: 46px;
}
img{
  height: 100px;
}
</style>

<!-- Top Banner -->
<div style="padding-top: 0;">
  <nav
    class="navbar navbar-expand-md navbar-dark bg-dark border-bottom box-shadow mb-3"
  >
    <div class="container-fluid">
      <a class="navbar-brand">
        Rusted Wizard Personal Web
      </a>
    </div>
  </nav>
</div>
<div>
  <router-outlet></router-outlet>
</div>
<div>
  <!-- Footer -->
  <footer class="border-top footer text-muted">
    <div class="container-fluid" style="font-size: 16px;">
      Rusted Wizard &copy; 2020 - Rusted Wizard Personal Website
      <img
        class="img-fluid float-right"
        src="assets/Images/MCSD19.png"
      />
      <img
        class="img-fluid float-right"
        src="assets/Images/MCSD17.png"
      />
      <img
        class="img-fluid float-right"
        src="assets/Images/MCSA.png"
      />
      <img
        class="img-fluid float-right"
        src="assets/Images/MTA.png"
      />
    </div>
  </footer>
</div>
