<!--Page specific Style-->
<style></style>

<!-- Top Banner -->
<div style="padding-top:0">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark border-bottom box-shadow mb-3">
      <div class="container-fluid">
          <a class="navbar-brand" style="font-family:'ChopinScript'; font-size: 46px">Rusted Wizard Personal Web</a>
      </div>
  </nav>
</div>

<!-- Main Content -->
<div class="content" role="main">
  <div class="container-fluid">
    <div class="jumbotron bg-transparent">
        <div class="row justify-content-center align-items-center ml-2 mr-2">
            <img src="assets/Images/me.jpg" class="img-fluid ml-2 mr-2" />
        </div>
        <div class=" row justify-content-center align-items-center ml-2 mr-2 pt-5">
            <h1 style="font-family:'ChopinScript'; font-size: 52px">Who is this man: </h1>
            <p class="lead text-justify" style="font-family:'ChopinScript'; font-size: 30px">
                If this man so named Rusted Wizard is believed to be existed at all.
                Then, the mystic tale told us that this man was born at the end of year of 1989
                in a country which its footprint of history stretches back five thousand years.
                That very country has the greatest wall building in the world.
                In a city belong to that country where in history, six dynasty has chosen it to be the capital city of that very country.
                At age 18, this man went to a country where maple leaf is its icon.
                He went to a university so called Memorial University, studied Computer Science;
                at October 2014, he get bachelor of science degree majored in Computer Science.
                On that very same year he become a Microsoft certified professional.
                On next year he earned the title Microsoft Specialist in programming in C#.
                At year of 2017 he become a charter member of
                Microsoft certified solution associate in Universal Windows Platform.
                On year of 2019 Microsoft Certified Solutions Developer: App Builder is under his record.
                Till today, this mystic tale is still ongoing…
            </p>
            <p class="text-justify align-content-start" style="font-family:'ChopinScript'; font-size: 26px">
              You may download this man's resume  <a href="/assets/Resume/My-Resume.pdf">here</a>
          </p>
        </div>
    </div>
</div>

  <!-- Footer -->
  <footer class="border-top footer text-muted">
    <div class="container-fluid" style="font-size: 16px">
        Rusted Wizard &copy; 2019 - Rusted Wizard Personal Website
        <img class="img-fluid float-right" style="height: 100px" src="assets/Images/MCSD19.png" />
        <img class="img-fluid float-right" style="height: 100px" src="assets/Images/MCSD17.png" />
        <img class="img-fluid float-right" style="height: 100px" src="assets/Images/MCSA.png" />
        <img class="img-fluid float-right" style="height: 100px" src="assets/Images/MTA.png" />
    </div>
</footer>
</div>
